body {
    font-family: Arial, sans-serif;
    background-color: #208f04;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #3a011d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #03262b;
    color: white;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #75fab3;
}

#table-output {
    margin-top: 20px;
}

.hidden {
    display: none;
}

